//Colors
$black: #000000;
$black-shadow: #000000b8;
$white: #ffffff;
$orange: rgb(223, 64, 15);
$gray: #9a9a9a;
$gray-light: #e4e4e4;
$gray-shadow: #a5a3a3a3;

// Fonts
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto Mono', monospace;